.navigation {
	width: 100%;
	position: absolute;
	bottom: 25px;
	left: 0;
}

.navigation__wrapper {
	padding-block: 1rem;
	width: 95%;
	display: flex;
	justify-content: center;
	background: var(--darkpurple1);
	border-radius: 1.875rem;
}

.navigation__items {
	gap: 3rem;
	margin: 0;
	padding: 0;
	list-style: none;
}

.navigation__btn {
	background: transparent;
	border: none;
}

.navigation__btn > * {
	width: 1.75rem;
	color: #fff;
}